@model verdeconecta.Models.Questionario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Questionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDieta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDieta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemRestricaoAlimentar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemRestricaoAlimentar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestricaoDetalhes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestricaoDetalhes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelAtividadeFisica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelAtividadeFisica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetivoPrincipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetivoPrincipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefeicoesPorDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefeicoesPorDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioRefeicoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioRefeicoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumoFrutasVegetais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumoFrutasVegetais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
