@model verdeconecta.Models.RelacionamentoNutricionistaCliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RelacionamentoNutricionistaCliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nutricionista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nutricionista.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
